{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}

<div class="flex justify-between mt-6">
    <a href="{{ path('app_user_index') }}" 
       class="inline-flex items-center bg-black hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg shadow">
        ⬅ Back to list
    </a>

        {% if user.id is defined %}
            {{ include('admin/user/_delete_form.html.twig') }}
        {% endif %}
    </div>
</div>

{% endblock %}
