{% extends 'base.html.twig' %}

{% block title %}Swap | Home{% endblock %}

{% block body %}
    <section class="text-center">
        <h1 class="text-4xl font-bold text-blue-600">Bienvenue sur Swap</h1>
        <p class="mt-4 text-lg text-gray-700">Déléguez vos tâches à des professionnels en toute simplicité.</p>
    </section>
{% endblock %}
